span.card-title.activator{
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}
.collection {
	border: none;
}
.collection span {
	line-height: 2.5rem;
}

footer.page-footer .footer-copyright{
	background:none;
}
.card-content span{	
	padding-right: 10px;
}

h4.error-msg{
	width: 100%;
}

.progress {
	margin:0px;
	position: fixed;
    z-index: 999;
}

